@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;700&family=Montserrat:wght@100;200;300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Kanit', sans-serif;
}

h1, h2, h3, h4, h5, h6, .title, .montserrat {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 2.2em;
    font-weight: 200;
}

h4 {
    font-size: 1.18em;
}

.active-menu-item {
    @apply bg-gray-800 text-blue-200;
}